<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/home/home.css">
</head>
<body>
    <div class="main">
        <!--TEMPLATES-->
        <template id="recommended_video_template">
            <td class="recommended_video">
                <div class="recommended_video_container">
                    <table>
                        <tr>
                            <td class="videos_table_element">
                                <a class="recommended_video_thumbnail_link" href="/video/placeholder">
                                    <img class="recommended_video_thumbnail" src="/video/placeholder" alt="/video/placeholder" width="384" height="216"/>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="videos_table_element td_title">
                                <p class="recommended_video_title">Title</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </template>




        <div class="table_container">
            <div class="top-bar">
                <div class="top_bar_elements">
                    <div>
                        <p id="logged_in_message">Not logged in.</p>
                    </div>
                    <div>
                        <button id="upload_button">Upload</button>
                    </div>
                </div>
            </div>


            <div id="sort_selector_div">
                <label id="sort_select_label" for="sort_select">Sort By</label>

                <select id="sort_select" name="sort">
                    <option value="RECENT">Most Recent</option>
                    <option value="LIKED">Most Liked</option>
                    <option value="VIEWED">Most Viewed</option>
                </select>
            </div>


            <table id="videos_table">
            </table>
        </div>

        <script src="/static/home/home.js"></script>
    </div>
</body>
</html>