<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/login/login.css">
    <title>Document</title>
</head>
    <body>
        <div class="main">
            <div class="login">
                <h1> Login </h1>
                <form id="login_form">
                    <label for="username">Username</label><br>
                    <input id="username" type="text" placeholder="Username" name="username" required=""><br>
                    <label for="password">Password</label><br>
                    <input id="password" type="password" placeholder="Password" name="password" required=""><br>

                    <button id="submit_button" type="button">Submit</button>
                </form>


                <script src="/static/login/login.js"></script>
            </div>
        </div>
    </body>
</html>