<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Videos</title>
    <link rel="stylesheet" type="text/css" href="/static/videostyle.css">
</head>
<body>
	<div class="main"> 
        <br>
        <form class="searchbar" role="search" style="width: 300px; height: 150px" > 
            <input type="text" class="formstyle" placeholder="Search..." name="search" maxlength="100" size="20">
        </form>
        <br>


        <div class="mainVid" style="float: left; width: 65%">
            <figure id="videoContainer" data-fullscreen="false">
                <video width="960" height="540" controls="controls">
                    <source th:src="${video}" type=video/mp4 />
                </video>
            </figure>

            <h1 th:text="${title}"></h1>

            <a th:text="'Uploaded by:' + ${uploader}"></a> <br>
            <a th:text="${views} + ' views'"></a> <br>
            <p id="likes" th:text="${likes} + ' likes'"></p>
            <button id="like_button" type="button">Like</button>


            <br> <p th:text="${description}"></p> <br>


        </div>


        <template>
            <div class="recommendations" style="float: right; width: 33%">
                <div class="rec">
                    <div class="left">
                        <figure class="recommendedVideoContainer" data-fullscreen="false">
                            <video width="150px" height="90px" controls="controls">
                                <source src="How Would You Like It_.mp4" type="video/mp4" />
                            </video>
                        </figure>
                    </div>
                    <div class="right"><p>Cute title here</p>Cute</div>
                </div>
            </div>
        </template>
    </div>

    <script th:inline="javascript" src="/static/videoscript.js"></script>
</body>
</html>